/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-brown: #B39B84;
  --color-tar: #2e302e;
  --color-peach: #ffe9d5;
  --color-lilac: #e1d7fc;
  --color-royal-purple: #7862b3;
  --grey-light-1: #faf9f9;
  --grey-light-2: #f4f2f2;
  --grey-light-3: #f0eeee;
  --grey-light-4: #ccc;
  --grey-dark-1: #333;
  --grey-dark-2: #777;
  --grey-dark-3: #999; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--grey-dark-1);
  background-repeat: no-repeat; }

.container {
  min-width: 100vw; }
  .container .header {
    height: 7rem;
    background-color: #f7f7f7;
    display: flex; }
  .container .contents {
    display: flex; }
    .container .contents .sidebar {
      background-color: var(--color-tar);
      flex: 0 0 18%; }
    .container .contents .room-view {
      flex: 1; }

.logo {
  height: 3.25rem; }

.search__icon {
  height: 2rem;
  width: 2rem; }

.user-nav__icon {
  height: 2.3rem;
  width: 2.3rem; }

.user-nav__user-photo {
  height: 4rem;
  border-radius: 50%; }
