.container{
	min-width: 100vw;

	.header{
		height: 7rem;
		background-color: #fbfbfb;
		font-size: 1.4rem;

		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.contents{
		display: flex;
		.sidebar{
			background-color: var(--color-tar);
			flex: 0 0 20%;
		}
		.room-view{
			flex: 1;
		}
	}
}